<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grade">
            <h2><span jhiTranslate="educationGenieApp.grade.detail.title">Grade</span> {{grade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educationGenieApp.grade.grade">Grade</span></dt>
                <dd>
                    <span>{{grade.grade}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grade', grade.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
