<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="topic">
            <h2><span jhiTranslate="educationGenieApp.topic.detail.title">Topic</span> {{topic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educationGenieApp.topic.name">Name</span></dt>
                <dd>
                    <span>{{topic.name}}</span>
                </dd>
                <dt><span jhiTranslate="educationGenieApp.topic.chapter">Chapter</span></dt>
                <dd>
                    <div *ngIf="topic.chapterId">
                        <a [routerLink]="['/chapter', topic.chapterId, 'view']">{{topic.chapterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/topic', topic.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
